<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipee Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/recipes']" routerLinkActive="router-link-active" >Recipe List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/shopping-list']" routerLinkActive="router-link-active" >Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Save Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fetch Data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
